:root {
	--darkblue: #34547a;
    --grey: #eeeff1;
    --white: #ffffff;
}
html {
	box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/* header style start */
.header {
    padding-top: 6rem;
    background-color: var(--grey);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 3.12em;
    letter-spacing: 0.04em;
    transition: all 1s ease;
}

.header__link:hover {
    color: var(--darkblue);
}
/* intro style start */
.intro {
    width: 100%;
    max-width: 1920px;
    min-height: 662px;
    background-color: var(--grey);
    padding-top: 13.7rem;
}
.intro__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13rem;
}
.intro__image {
    padding-left: 4rem;
}
.intro__item-right {
    width: 100%;
    max-width: 54rem;
}
.intro__title {
    font: 500 4.8rem/164.1% "Roboto", sans-serif;
    margin-bottom: 3.2rem;
}
.intro__text {
    font-size: 1.6rem;
    line-height: 164.1%;
    margin-bottom: 5.5rem;
}
.intro__btn {
    padding: 21px 40px;
    font-size: 1rem;
    /* line-height: 164.1%; */
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--darkblue);
    outline: var(--darkblue);
    border: 1px solid var(--darkblue);
}
/* section about style */
.about {
    padding: 4.8rem 0 4.8rem 0;
}
.about__inner {
    width: 100%;
    max-width: 54rem;
    text-align: center;
    margin: 0 auto;
}
.about__title {
    font-size: 3.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 4rem;

}
.about__text {
    font-size: 1.6rem;
    color: #727272;
    line-height: 164.1%;
}
/* project */
.projects {
    background-color: var(--darkblue);
    padding: 10rem 0;
}
.projects__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__item {
    display: flex;
    gap: 2rem;
}
.project__title {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}
.project__text {
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 164.1%;
}
/* skils style start */
.skils {
    padding: 10.2rem 10.1rem;
}
.skils__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skils__title {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 5rem;
}
.skils__text {
    font-size: 1.6rem;
    line-height: 164.1%;
    margin-bottom: 1.988rem;
}
.skils__light-grey {
    width: 44.5rem;
    height: 0.4rem;
    background-color: #c4c4c4;
    margin-bottom: 2.976rem;
}
.skils__dark-blue {
    width: 35rem;
    height: 0.4rem;
    background-color: var(--darkblue);
}
.skils__image {
    width: 100%;
    max-width: 55.5rem;
    height: auto;
}
/* video */
.video {
    padding: 10rem 0;
    background-color: var(--grey);
}
.video__inner {
    text-align: center;
}
.video__title {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 5rem;
}
.video__text {
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 164.1%;
    color: #727272;
    margin-bottom: 5.7rem;
}
.video__box {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
.video__image {
    max-width: 1110px;
}
.video__play {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/* project */
.project {
    padding-top: 2.8rem;
}
.project__inner {
    display: flex;
    flex-wrap: wrap;
}
.project__items {
    width: 100%;
    max-width: 39.57rem;
    height: 39.57rem;
    position: relative;  
}
.project__image {
    position: absolute;
    left: 0%;
    right: 0%;
    z-index: 1;
    /* transform: translate3d(-50%, -50%, 0); */
}
.project__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 84, 125, 0.8);
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 2;
}
.project__items:hover .project__content {
    opacity: 1;
}
.project__link a {
    text-decoration: none;
}