:root {
	--darkblue: #34547a;
    --grey: #eeeff1;
    --white: #ffffff;
}
html {
	box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/* header style start */
.header {
    padding-top: 6rem;
    background-color: var(--grey);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    display: inline-block;
    font-size: 1.55rem;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 3.12em;
    letter-spacing: 0.04em;
}
/* intro style start */
.intro {
    width: 100%;
    max-width: 1920px;
    min-height: 662px;
    background-color: var(--grey);
    padding-top: 13.7rem;
}
.intro__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13rem;
}
.intro__image {
    padding-left: 4rem;
}
.intro__item-right {
    width: 100%;
    max-width: 54rem;
}
.intro__title {
    font: 500 4.8rem/164.1% "Roboto", sans-serif;
    margin-bottom: 3.2rem;
}
.intro__text {
    font-size: 1.6rem;
    line-height: 164.1%;
    margin-bottom: 5.5rem;
}
.intro__btn {
    padding: 21px 40px;
    font-size: 1rem;
    /* line-height: 164.1%; */
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--darkblue);
    outline: var(--darkblue);
    border: 1px solid var(--darkblue);
}
/* section about style */
.about {
    padding: 12.5em 0 10rem 0;
}
.about__inner {
    width: 100%;
    max-width: 54rem;
    text-align: center;
    margin: 0 auto;
}
.about__title {
    font-size: 3.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5rem;
}
.about__text {
    font-size: 1.6rem;
    color: #727272;
    line-height: 164.1%;
}
